<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset name="component_menu"
                  label="COM_ABLOG_MENU_CONFIGURATION"
                  description="These are the Options for your KategorieMenu:">         
        <field
            name="ablog_menu_color"
            type="text"
            label="menu-color"
            description="change the color of the menu(red,#fff...)" />
        <field
            name="ablog_menu_active_color"
            type="text"
            label="menu-color-active"
            description="change the color of the active menu button(red,#fff...)" />
        <field
            name="ablog_menu_text_color"
            type="text"
            label="menu-textcolor"
            description="change the text color inside the menu(red,#fff...))" />
        <field
            name="ablog_menu_border_color"
            type="text"
            label="menu-border-color"
            description="change the border_color of the buttons(red,#fff)" />
        <field
            name="ablog_menu_border_weight"
            type="text"
            label="menu-border-weight"
            description="change the weight of the border(1px,2px...)" />
         <field
            name="ablog_menu_image_width"
            type="text"
            default="32px"
            label="menu-image-width"
            description="change the width of the menu image(px,em...)" />
        <field
            name="ablog_menu_border_style"
            type="text"
            label="menu-border-style"
            description="change the style of the border(solid,dotted...)" />
        <field
            name="ablog_menu_text_weight"
            type="radio"
            label="menu-text-weight"
            description="define the font-weight">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
            name="ablog_menu_fontsize"
            type="text"
            label="menu-font-size"
            description="define the menu fontsize(px,em...)" />
        <field
            name="ablog_menu_width"
            type="text"
            label="menu-width"
            description="define the width of the menu(px,em...)" />
        <field
            name="ablog_menu_height"
            type="text"
            default="32px"
            label="menu-height"            
            description="change the menu height(px,em...)" />              
        <field
            name="ablog_menu_li_padding"
            type="text"
            label="menu-li-padding"
            description="change the distance between the text and menu border" />
        <field
            name="ablog_menu_image"
            type="media"
            label="image for menu"
            description="change the image in menu" />
    </fieldset>
    <!--Posts-->
    <fieldset name="component_content"
                 label="COM_ABLOG_CONTENT_CONFIGURATION"
                 description="These are the Options for your Frontend Posts Configuration:">             
        <field
            name="ablog_text_color"
            type="text"
            label="posts-text-color"
            description="define the value of content text color" />
          <field
            name="ablog_posts_border_weight"
            type="text"
            label="posts-border-weight"
            description="define the border weight" />
           <field
            name="ablog_posts_border_style"
            type="text"
            label="posts-border-style"
            description="define the border style" />
           <field
            name="ablog_posts_border_color"
            type="text"
            label="posts-border-color"
            description="define the border color" />
            <field
            name="ablog_posts_background"
            type="text"
            label="posts-background"
            description="define the  post background" />
             <field
            name="ablog_posts_padding"
            type="text"
            label="posts-padding"
            description="define the posts padding" />
            <field
            name="ablog_posts_border_radius"
            type="text"
            label="posts-border-radius"
            description="define the  posts border radius" />
           <field
            name="ablog_posts_width"
            type="text"
            label="posts-width"
            description="define the posts width" />
            <field
            name="ablog_posts_created_date"
            type="checkbox"
            value="1"
            default="0"
            label="show-posts-created-date"
            description="show the posts and post created date" />              
        <field
            name="ablog_h2_color_link"
            type="text"
            label="posts-h2-link-color"
            description="define the h2 link color" />
        <field
            name="ablog_h2_color_hover"
            type="text"
            label="posts-h2-hover-color"
            description="define the h2 color when you get with your mouse pointer over it" />                 
        <field
            name="ablog_h2_hover_background_color"
            type="text"
            label="posts-h2-hover-background-color"
            description="define the h2 background-color when you get with your mouse pointer over it" /> 
         <field
            name="ablog_social_border_radius"
            type="text"
            label="social-border-radius"
            description="define the  social border radius" />
          <field
            name="ablog_social_background_color"
            type="text"
            label="social-background-color"
            description="define the social background color" />
          <field
            name="ablog_social_border_weight"
            type="text"
            label="social-border-weight"
            description="define the  social border width" />
                    <field
            name="ablog_social_border_style"
            type="text"
            label="social-border-style"
            description="define the  social border style" />
                              <field
            name="ablog_social_border_color"
            type="text"
            label="social-border-color"
            description="define the social border color" />
                                        <field
            name="ablog_social_padding"
            type="text"
            label="social-padding"
            description="define the social" />              
        <field
            name="spacer1"
            type="spacer"
            hr="true"
        />
        <field name="post_frontend" type="spacer" class="spacer"
                         label="The options below are for the single post"
        />
        <!--Start Post Frontend configuration -->               
        <field
            name="ablog_post_title_color"
            type="text"
            label="change the title color"
            description="define the title color" />
        <field
            name="ablog_post_title_size"
            type="text"
            label="change the title size"
            description="define title size" />
        <field
            name="ablog_post_text_color"
            type="text"
            label="change the text color"
            description="define the text color " />
        <field
            name="ablog_post_text_size"
            type="text"
            label="change the text size"
            description="define the text size" />
        <field
            name="ablog_post_text_weight"
            type="text"
            label="change the text weight"
            description="define the text weight" />
        <field
            name="ablog_post_comment_text_color"
            type="text"
            label="change the comment text color"
            description="define the comment title color" />
        <field
            name="ablog_post_comment_text_size"
            type="text"
            label="change the comment text size"
            description="define comment text size" />
        <field
            name="ablog_post_comment_line_color"
            type="text"
            label="change the comment line color"
            description="define the comment line color" />                  
        <field
            name="ablog_show_hits"
            type="radio"
            label="display_hits"
            description="display hits">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>        
        <field
            name="spacer2"
            type="spacer"
            hr="true"
        />
        <field name="subcategories" type="spacer" class="spacer"
                         label="The options below are for the Post Form" />
        <!--Post Form-->
        <field
            name="ablog_form_background"
            type="text"
            label="change the form background color"
            description="define the backend form color" />
        <field
            name="ablog_form_message1_color"
            type="text"
            label="change message1_color"
            description="define the backend form color" />
        <field
            name="ablog_form_message1_font_size"
            type="text"
            label="change message1_font_size"
            description="define the message1 font_size" />
        <field
            name="ablog_form_message2_color"
            type="text"
            label="change message2_color"
            description="define the message2 color form color" />
        <field
            name="ablog_form_message2_font_size"
            type="text"
            label="change message2_font_size"
            description="define the message2 font_size" />
        <field
            name="ablog_form_color_label"
            type="text"
            label="change the label color"
            description="define the label color" />
        <field
            name="ablog_form_font_size_label"
            type="text"
            label="change the label font-size"
            description="define the label font-size" />
        <field
            name="ablog_form_input_focus"
            type="text"
            label="change input focus color"
            description="define input focus color" />
        <field
            name="ablog_form_button_color"
            type="text"
            label="change the button text color"
            description="define the button text color" />
        <field
            name="ablog_form_button_background_color"
            type="text"
            label="change the button background color"
            description="define the button background color" />
        <field
            name="ablog_form_button_font_size"
            type="text"
            label="change the button font-size"
            description="define the button font-size" />
         <field
            name="ablog_form_button_font_size"
            type="text"
            label="change the button font-size"
            description="define the button font-size" />
           <field
            name="spacer3"
            type="spacer"
            hr="true"
        />
         <field name="publish" type="spacer" class="spacer"
                         label="The options below are for publishing" />
         <field 
            name="publishing_comments" 
            type="checkbox"
            label="You can publish the received comments immediately"
            value="1"
            default="0"
         /> 
    </fieldset>    
    

    <fieldset  name="permissions"  label="JCONFIG_PERMISSIONS_LABEL"  description="JCONFIG_PERMISSIONS_DESC">
        <field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" class="inputbox" validate="rules" filter="rules" component="com_ablog" section="component"  />
    </fieldset>
</config>