/* 
    Document   : post
    Created on : 07.09.2012, 20:57:51
    Author     : 3po
    Description:
        Purpose of the stylesheet follows.
*/

/* ablog_content_post is the main div*/

div#ablog_content_post #post {
    border: none;
    margin-bottom: 50px;
}

/*Comments*/
.comments {
    margin-bottom: 20px;
    clear: both;
}

.comments h3 {
    font-size: 1.0em;
}

.comments_inner{
    margin-left: 20px;
    border-bottom: 1px dotted #F39A00;
}

/*Comment Answer*/
p.answer {
    clear: both;
    text-align: right;
}

.comment_answers {
    margin-left: 80px;
    border-bottom: 1px dotted #F39A00;
}

.comment_image{
    border-radius: 2px;
}

.personal_data p {
    font-size: 0.8em;
}

/*Form*/
#ablog_content_post #form {
    background-color: #F39A00;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}

#form table{
    border: none !important;
    width: 90%;
    margin: 0 auto;
}

.avPlayerWrapper .avPlayerContainer{
    margin: 0;
}

#content{
    padding: 5px 1px;
    width: 100%;
}

tr td.td_class{
    border-style: none;
}

#form tr,#form td{
    border: none;
}

#creator, #content, #email_adress {
    border: 1px solid gray;
}

input[type="text"]{
    padding: 5px;
    width: 200px;
    margin-bottom: 8px;
}

#creator:focus,#content:focus, #email_adress:focus{
    border: 1px solid black;
}

button {
    background: #F39A00;
    padding: 5px;
    color: white;
    border: 0;
    border-radius: 2px;
}

.td_class button{
    background: #76BF00;
}

.clearfloat {
    clear: both;
}

em{
    color: #ccc;
    margin-bottom: 15px;
    display: block;
}

.social_media{
    float: right;
    width: 200px;
}

.google,.twitter, .fb-root{
    margin-top: 3px;
}

body{
    background: red;
}
