/* 
    Document   : posts
    Created on : 07.09.2012, 20:49:05
    Author     : 3po
    Description:
        Purpose of the stylesheet follows.
*/



/*margin reset uls*/
#main_ablog ul#ablog_menu, #main_ablog #ablog_pagination ul {
    margin: 0;
    padding: 0;
    border: 0;
}

/*MENU*/

#main_ablog #menu_image li{
        border: none;
	padding: 0; 
	margin: 0;
        width: 32px;
        height: 32px;
}

#main_ablog li.menu_image{
    padding: 0;
    margin: 0 0 20px 0;
}

#main_ablog #ablog_menu a#menu_image{
     background: url('../images/white_house.png') no-repeat center center;
     height: 32px;
     display: block;
     padding: 0;
     margin: 0;
     width: 32px;
     float: left;
}

#main_ablog #ablog_menu a#active_menu{
    background: lightskyblue;
}

#main_ablog ul#ablog_menu {
    margin: 0;
    padding: 0;
    border: none;
}

ul#ablog_menu li {
   float: left;
   list-style: none;
   height: 32px;
   border: none;
   margin: 0;
}


#main_ablog{
    clear: both;
}

#main_ablog ul#ablog_menu li a {
    text-decoration: none;
    border-left: none;
    float: left;
    height: 32px;
    line-height: 32px;
    margin-bottom: 5px;
    color: black;
}

#main_ablog .ablog_content_container{
    margin-bottom: 20px;
    position: relative;
}

/*container*/
#main_ablog .ablog_content_container .main{
    position: relative;
    width: 400px;
}

div#main_ablog div.ablog_content_container div.main h2 {
    margin: 0;
    padding: 0;
}

div#main_ablog .ablog_content_container .first_main_p {
   margin: 0;
   padding: 0;
}


/* container socialmedia */
#main_ablog .ablog_content_container .social_media {
    border: none;
    width: 160px;
    float: right;
}

.google, .twitter, .fb-like{margin-top: 3px;}

/*pagination*/
#ablog_pagination ul{
    list-style: none;
    font-weight: bold;

}

#ablog_pagination ul li {
    float: left;
    padding-right: 5px;
}

#ablog_pagination ul li {
    float: left;
    padding-right: 10px;
    height: 32px;
    list-style: none;
}

#ablog_pagination ul li a, #ablog_pagination ul li span {
    float: left;
    width: 32px;
    text-align: center;
    height: 32px;
    line-height: 32px;
}
/*clearfix*/
.clearfix {display: block;}

.clearfix:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    line-height: 0;
    content: ".";
}

/* IE7 */
*+ html .clearfix {display: inline-block;}

/* IE6 */
* html .clearfix {
    display: inline-block;
    height: 1%;
}